background: white;
 
.lock-screen-widget {
  padding: 30px 10px 10px;
  
  .icon {
    font-size: 160px;
    color: hsl(12,89%,45%);
    display: block;
    text-align: center;
    line-height: 0.5em;
    margin: 10px;
  }  
  button {
    width: 90%;

    display: block;
    margin: 0 auto;
    background: hsl(359,86%,42%);
    color: white;  
    border: 0px ;
  }
 
}